@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form asp-action="Teste">
        <input type="text" name="nome" />
        <input type="text" name="num" />
        <input type="submit" name="Surmit" />
    </form>

</div>
