@model dynamic

@{

    ViewData["Title"] = "Teste";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<pre>@this.Model</pre>


@Html.ActionLink("Home", "Index")

